{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "Sun Position API",
        "description": "Endpoints for applications based on data consumption in JSON format.Provides the main functionalities related to the Sun Position library and the Sun Position Platform."
    },
    "servers": [
        {
            "url": "https://us-central1-sun-position-app.cloudfunctions.net/app/v1"
        },
        {
            "url": "http://127.0.0.1:5001/sun-position-app/us-central1/app/v1"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "description": "",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/user/register": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Create a new user",
                "description": "This endpoint will create a new user...",
                "responses": {
                    "200": {
                        "description": "Some description...",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/signinSomeResponse"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Registration completed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ / "
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Email and password are required.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ / "
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "User creation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ /createSomeResponse500"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/signinSomeBody"
                            }
                        }
                    }
                }
            }
        },
        "/user/login": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Perform user login",
                "description": "This endpoint will return a user after login succefully...",
                "responses": {
                    "200": {
                        "description": "Some description...",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/signinSomeResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ "
                            }
                        }
                    }
                }
            }
        },
        "/user/logout": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Log out the user",
                "description": "Clear all API service access credentials",
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/user/reset-email": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Reset login credentials",
                "description": "Retrieve and update user credentials",
                "responses": {
                    "200": {
                        "description": "Some description...",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/signinSomeResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/signinSomeBody"
                            }
                        }
                    }
                }
            }
        },
        "/project": {
            "get": {
                "description": "",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/project/create": {
            "post": {
                "description": "",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/project/{id}": {
            "get": {
                "description": "",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "put": {
                "description": "",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "delete": {
                "description": "",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/service/sun": {
            "post": {
                "description": "",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-user-id",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too Many Requests"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "lat": {
                                        "example": "any"
                                    },
                                    "lng": {
                                        "example": "any"
                                    },
                                    "dateTime": {
                                        "example": "any"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/service/time-zone": {
            "post": {
                "description": "",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-user-id",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too Many Requests"
                    }
                }
            }
        },
        "/service/api-key": {
            "get": {
                "description": "",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/service/generate-api-key": {
            "get": {
                "description": "",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "429": {
                        "description": "Too Many Requests"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/service/refresh-token": {
            "post": {
                "description": "",
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "apiKey": {
                                        "example": "any"
                                    },
                                    "refreshToken": {
                                        "example": "any"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "createUser": {
                "type": "object",
                "properties": {
                    "createSomeResponse422": {
                        "type": "object",
                        "properties": {
                            "email": {
                                "type": "string",
                                "example": "Email is required"
                            },
                            "password": {
                                "type": "string",
                                "example": "Password is required"
                            }
                        },
                        "required": [
                            "email",
                            "password"
                        ]
                    },
                    "createUserBody": {
                        "type": "object",
                        "properties": {
                            "email": {
                                "type": "string",
                                "example": "jhondoe@email.com"
                            },
                            "password": {
                                "type": "string",
                                "example": "**********"
                            }
                        },
                        "required": [
                            "email",
                            "password"
                        ]
                    },
                    "createSomeResponse201": {
                        "type": "object",
                        "properties": {
                            "status": {
                                "type": "string",
                                "example": "Success"
                            },
                            "msg": {
                                "type": "string",
                                "example": "Verification email sent! User created successfully!"
                            }
                        },
                        "required": [
                            "status",
                            "msg"
                        ]
                    },
                    "createSomeResponse500": {
                        "type": "object",
                        "properties": {
                            "status": {
                                "type": "string",
                                "example": "Failed"
                            },
                            "msg": {
                                "type": "string",
                                "example": "error"
                            }
                        },
                        "required": [
                            "status",
                            "msg"
                        ]
                    },
                    "signinSomeBody": {
                        "type": "object",
                        "properties": {
                            "email": {
                                "type": "string",
                                "example": "jhondoe@email.com"
                            },
                            "password": {
                                "type": "string",
                                "example": "**********"
                            }
                        },
                        "required": [
                            "email",
                            "password"
                        ]
                    }
                }
            },
            "signinSomeResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "example": "Success"
                    },
                    "msg": {
                        "type": "object",
                        "properties": {
                            "user": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "jhondoe@email.com"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Jhon Doe"
                                    }
                                },
                                "required": [
                                    "email",
                                    "name"
                                ]
                            }
                        },
                        "required": [
                            "user"
                        ]
                    }
                },
                "required": [
                    "status",
                    "msg"
                ]
            }
        },
        "securitySchemes": {
            "basicAuth": {
                "type": "http",
                "scheme": "basic"
            }
        }
    },
    "contact": {
        "email": "werleyfn@gmail.com"
    }
}
